@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  
}

:root {
  color-scheme: light dark;
  color: var(--color-text-light);
  font-family: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
